/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
/* index.html*/
/* nav bar */


body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 170%;
    font-size:1.3rem;
}

.text-center{
    text-align: center;
}

h1, h2, h3, h4, h5, h6, 
.navbar .nav-link{
    font-family:'Lato', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

/*navbar */
.nav-container{
    padding:0;
    background-color:white;
}

.navbar li{
    margin: 0px 15px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    font-size:19px;
    padding: 10px 15px;
    color: #034cae;
    font-weight: bold;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link:hover{
    color:#2F3180;
    padding: 10px 15px;
} /*incorportate brand purple colour for hover nav elements*/


.navbar-light .navbar-nav .active>.nav-link {
    color: #1d1e4e;
}

.special-text {
    font-family: 'Caveat Brush', cursive;
    font-size: 160%;
    color: #246e74;
    margin-bottom: 50px;
}


@media(min-width:1300px){
    .navbar{
        position: relative;
    }
    .navbar-brand{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } /*switch brand logo position in nav bar from left to middle on larger screen sizes*/
}

/* hero image */

/*about us */
.heading{
    margin: 0 auto 1.75rem;
    text-align: center;
    color:#034cae;
    font-weight: 700;
}

.about-us{
    width:90%;
    max-width:50rem;
    padding: 50px 0px;
    margin-bottom:70px;
}

.about-image{
    border-radius: 7rem;
    width:100%;
    padding:10%;
}

.about-block{
    margin: 3rem auto 0;
    align-items: center;
}

.about-page{
    background-color: #fdf4ce;
}

/*destinations container */
.destinations-container {
    padding-bottom:20px;
}

/* map */


            /* Set height of body and the document to 100% to enable "full page tabs" */
            body, html {
                height: 100%;
                margin: 0;
                font-family: sans-serif;
            }

            .button-color{
                background-color: #246e74;
                color: white;
                font-weight: bold;
                border: none;
            }

            
            .button-color:hover{
                background-color: #034cae;
            }
            
            /* Style tab links */
            .tfbutton {
                cursor: pointer;
                padding: 5px;
                font-size: 16px;
                width: 150px;
                margin:5px;
            }

                a,
                a:hover {
                color: white;
                text-decoration: none;
            }


            .dest-button-row{
                text-align:center;
            }
            /* Style the map */
            .countrymap {
                color: black;
                background-color: white;
                display: none;
                padding: 15px 5px;
                height: 500px;
                width: 100%;
            }

            .map {
                width: 50%;
                height: 95%;
                border-radius: 5px 5px 0px 0px;
                float:left;
            }

            .info {
                width:50%;
                float: right;
                padding:20px;
            }

            .countrymap .info h5,
            .countrymap span{
                font-weight:bold;
            }

            .countrymap .info {
                font-size: 80%;
                line-height:110%;
            }
/* set maps size for mobile and sections under*/ 
            @media only screen and (max-width:600px){
                .map {
                    width: 100%;
                    height: 50%;
            }
                .info {
                    width:100%;
                    height:50%;
                  
                    padding-left:20px;
            }
                .countrymap{
                    height:800px;
                }
                .copyright span{
                    font-size:1.4rem !important;
            }

                .ticon{
                    font-size: 1.4rem !important;
                }
            }
/* class-lesson-section */
.lesson-song-section{
    padding:50px 0px;
}
.class-lesson-section {
    text-align: center;
    padding: 50px;
}

.genbutton{
    margin: 10px;
    display:block;
}

.footer{
    background-color: #034cae;
    padding: 40px 4%;
}

/*social links styling */
.social-links{
    text-align: right;

}

.ticon{
    font-size: 2rem;
    color: #fccf14;
    margin:5px;
}

/* copyright styling */
.copyright span{
    font-size:1.7rem;
    color: #fccf14;
    padding-right: 10px;
}

.about-para{
    width:90%;
    text-align: center;
    padding:30px;
    margin: 0 auto;
}
/*hero image - classtime*/
.hero-image{
    height:70vh;
    background:url("/assets/hero-images/a4.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*ceter all images */
img {
    border-style: none;
    margin: 0 auto;
    display: block;
}
.flashcards{
    padding:50px 0px;
}

.image2,
.image3,
.video2 {
    display:none;
}

iframe {
    margin: 0 auto;
    display: block;
}


/*game*/

.game-button{
    margin-bottom: 50px;
}

.hidden {
    display: none!important;
}


.tile{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50px !important;
    background-size: contain;
}
.unclickable {
    pointer-events: none;
}

.tile-chicken {
    background-image: url(/assets/gameimg/chicken.png);
   transition: 0.15s;
}

.tile-chicken:hover,
.tile-chicken:focus,
.tile-chicken:active,
.tile-chicken.activated{
background-image: url(/assets/gameimg/chicken2.png);
transform: translate(10px);
}

.tile-duck {
    background-image: url(/assets/gameimg/duck.png);
    transition: 0.15s;
}

.tile-duck:hover,
.tile-duck:focus,
.tile-duck:active,
.tile-duck.activated{
    background-image: url(/assets/gameimg/duck2.png);
    transform: translate(10px);
}

.tile-pig {
    background-image: url(/assets/gameimg/pig.png);
    transition: 0.15s;
}

.tile-pig:hover,
.tile-pig:focus,
.tile-pig:active,
.tile-pig.activated{
    background-image: url(/assets/gameimg/pig2.png);
    transform: translate(10px);
}

.tile-cow {
    background-image: url(/assets/gameimg/cow.png);
    transition: 0.15s;
}

.tile-cow:hover,
.tile-cow:focus,
.tile-cow:active,
.tile-cow.activated {
    background-image: url(/assets/gameimg/cow2.png);
    transform: translate(10px);
}

/* style button */
.info-section {
    text-align: center;
    margin-top: 50px;
}

.info-text{
    text-align: center;
}

.start-button {
    display: inline-block;
    height:38px;
    padding: 0 30px;
    text-align: center;
    font-size:14px;
    font-weight:bold;
    cursor: pointer;
}


.instruct-btn{
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .game {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tile-container {
    width: 100%;
    height: 100%;
  }
}

/* resizing page to mobile*/
@media only screen and (max-width: 800px){ 
   .image1,
   .video1,
   .image2{
     display: none;
   }

   .image3,
   .video2{
     display: block;
   }

   .tile {
    background-size: 150px 150px;
    background-position:0px !important;
    width: 310px;
    height: 190px;
}
}
/* tile image resize for ipad*/
@media only screen and (min-width: 550px) and (max-width: 800px){ 
       .tile {
    background-size: 200px 200px;
    background-position:50px !important;
    width: 310px;
    height: 190px;
}
    .image2{
        display:block;
    }

    .image1,
    .image3 {
        display:none;
    }
}


/* switch the two divsfor mobile */

@media (max-width: 1200px) {
  .game {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .game .tile-container {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .game .game-desc-container {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}



.showDesc{
    width:90%;
    padding: 30px;
    text-align: left;
    margin:0 auto;
    margin-top:25px;
}