/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;500&display=swap');

/* index.html*/
/* nav bar */


body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}

h1, h2, h3, h4, h5, h6, 
.navbar .nav-link{
    font-family:'Lato', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

/*navbar */
.nav-container{
    padding:0;
    background-color:white;
}

.navbar li{
    margin: 0px 15px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color:#1D1E4E;
    font-size:19px;
    padding: 10px 15px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link:hover{
    color:#2F3180;
    padding: 10px 15px;
} /*incorportate brand purple colour for hover nav elements*/


.navbar-light .navbar-nav .active>.nav-link{
    color: #1D1E4E;
}


@media(min-width:1300px){
    .navbar{
        position: relative;
    }
    .navbar-brand{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } /*switch brand logo position in nav bar from left to middle on larger screen sizes*/
}

/* hero image */

/*about us */
.heading{
    margin: 0 auto 1.75rem;
    text-align: center;
    color:#1e1e57;
}

.about-us{
    width:90%;
    max-width:41.25rem;
    padding: 50px 0px;
}

.about-image{
    border-radius: 10px;
    width:100%;
    margin: 0 auto 2rem;
}

.about-block{
    margin: 3rem auto 4rem;
    align-items: center;
}

.about-page{
    background-color: #fdf4ce;
}



/* map */


            /* Set height of body and the document to 100% to enable "full page tabs" */
            body, html {
                height: 100%;
                margin: 0;
                font-family: sans-serif;
            }

            /* Style tab links */
            .tfbutton {

                cursor: pointer;
                padding: 5px;
                font-size: 16px;
                width: 150px;
                margin:5px;
            }

            .dest-button-row{
                text-align:center;
            }
            /* Style the map */
            .countrymap {
                color: black;
                background-color: white;
                display: none;
                padding: 15px 5px;
                height: 500px;
                width: 100%;
            }

            .map {
                width: 50%;
                height: 95%;
                border-radius: 5px 5px 0px 0px;
                float:left;
            }

            .info {
                width:50%;
                float: right;
                padding:20px;
            }

            .countrymap .info h5,
            .countrymap span{
                font-weight:bold;
            }
/* set maps size for mobile and sections under*/ 
            @media only screen and (max-width:600px){
                .map {
                    width: 100%;
                    height: 50%;
            }
                .info {
                    width:100%;
                    height:50%;
                  
                    padding-left:20px;
            }
                .countrymap{
                    height:800px;
                }
                .copyright span{
                    font-size:1.4rem !important;
            }

                .ticon{
                    font-size: 1.4rem !important;
                }
            }
/* class-lesson-section */
.class-lesson-section {
    text-align: center;
    padding: 50px;
}

.genbutton{
    margin: 10px;
    display:block;
}

.footer{
    background-color: rgb(126, 128, 240);
    padding: 40px 20px;
}

/*social links styling */
.social-links{
    text-align: right;

}

.ticon{
    font-size: 2rem;
    color: #fdf4ce;
    margin:5px;
}

/* copyright styling */
.copyright span{
    font-size:1.7rem;
    color: #fdf4ce;
    padding-right: 10px;
}

/*hero image - classtime*/
.hero-image{
    height:70vh;
    background:url("/assets/hero-images/a4.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*game*/

.game{
    padding-bottom:70px;
}

.hidden {
    display: none!important;
}


.tile{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
}
.unclickable {
    pointer-events: none;
}

.tile-chicken {
    background-image: url(/assets/gameimg/chicken.png);
   transition: 0.15s;
}

.tile-chicken:hover,
.tile-chicken:focus,
.tile-chicken:active,
.tile-chicken.activated{
background-image: url(/assets/gameimg/chicken2.png);
transform: translate(10px);
}

.tile-duck {
    background-image: url(/assets/gameimg/duck.png);
    transition: 0.15s;
}

.tile-duck:hover,
.tile-duck:focus,
.tile-duck:active,
.tile-duck.activated{
    background-image: url(/assets/gameimg/duck2.png);
    transform: translate(10px);
}

.tile-pig {
    background-image: url(/assets/gameimg/pig.png);
    transition: 0.15s;
}

.tile-pig:hover,
.tile-pig:focus,
.tile-pig:active,
.tile-pig.activated{
    background-image: url(/assets/gameimg/pig2.png);
    transform: translate(10px);
}

.tile-cow {
    background-image: url(/assets/gameimg/cow.png);
    transition: 0.15s;
}

.tile-cow:hover,
.tile-cow:focus,
.tile-cow:active,
.tile-cow.activated {
    background-image: url(/assets/gameimg/cow2.png);
    transform: translate(10px);
}

/* style button */
.info-section {
    text-align: center;
    margin-top: 50px;
}

.info-text{
    text-align: center;
}

.start-button {
    display: inline-block;
    height:38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size:14px;
    font-weight:bold;
    cursor: pointer;
}

.start-button:hover{
    color: #333;
    border-color:#888;
}

.instruct-btn{
    display:block;
    margin: 0 auto;
}
@media screen and (max-width: 550px) {
  .game {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tile-container {
    width: 100%;
    height: 100%;
  }
}

.showDesc{
    width:90%;
    padding: 30px;
    text-align: left;
    margin:0 auto;
    margin-top:25px;
}
