/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;500&display=swap');

/* index.html*/
/* nav bar */


body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, 
.navbar .nav-link{
    font-family:'Lato', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

/*navbar */
.nav-container{
    padding:0;
    background-color:white;
}

.navbar li{
    margin: 0px 15px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color:#1D1E4E;
    font-size:19px;
    padding: 10px 15px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link:hover{
    color:#2F3180;
    padding: 10px 15px;
} /*incorportate brand purple colour for hover nav elements*/


.navbar-light .navbar-nav .active>.nav-link{
    color: #1D1E4E;
}


@media(min-width:1300px){
    .navbar{
        position: relative;
    }
    .navbar-brand{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } /*switch brand logo position in nav bar from left to middle on larger screen sizes*/
}

/* hero image */

/*about us */
.heading{
    margin: 0 auto 1.75rem;
    text-align: center;
    color:#1e1e57;
}

.about-us{
    width:90%;
    max-width:41.25rem;
    padding: 50px 0px;
}

.about-image{
    border-radius: 10px;
    width:100%;
    margin: 0 auto 2rem;
}

.about-block{
    margin: 3rem auto 4rem;
    align-items: center;
}

.about-page{
    background-color: #fdf4ce;
}

.tfbutton{
    margin:5px;
    width: 150px;
}

.dest-button-row{
    text-align:center;
}

/* map */
            .map {
                float: left;
                width: 34.8%;
                height: 100%;
                border-radius: 5px 5px 0px 0px;
                border-width: 1px;
                border-style: dotted;
                border-color: #000000;
            }

.tabcontent {
    color: black;
    background-color: white;
    display: none;
    padding: 15px 5px;
    height: 95%;
}

